{% extends 'base.html' %}

{% block content %}
<section class="hero is-info">
  <div class="hero-body">
    <nav class="container">
      <div class="title">
        {{ goal.goal_title }}
      </div>
    </nav>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-8">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child notification is-primary">
            <p class="title">{{ goal.goal_title }}</p>
            <p class="subtitle">{{ goal.goal_description }}</p>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        {% if goal.completed %}
        <div class="tile is-child notification is-success">
          <p class="title">Completed!</p>
          <p class="subtitle">Completed on {{  goal.date_completed|date:"l, N d, Y"  }}. Nice job!</p>
        </div>
        {% else %}
        <div class="tile is-child notification">
          <p class="title">Complete this goal</p>
          <p class="subtitle">Due on {{ goal.date_due|date:"l, N d, Y" }}</p>
          <form action="{% url 'goals:goal_complete' goal.id %}" method="post">
            {% csrf_token %}
            <p class="control">
              <label for="date-completed" class="label">Date completed:</label>
            </p>
            <p class="control has-addons">
              <input type="text" name="date-completed" class="input" placeholder="YYYY-MM-DD">
              <input class="button is-primary" type="submit" value="Complete!" />
            </p>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="tile ancestor is-pulled-right is-8">
      <div class="tile is-child notification is-danger">
        <p class="title">Hello, World!</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Notes</h2>
    {% for note in goal.note_set.all %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ note.date|date:"l, N d, Y P" }}
        </p>
      </header>
      <div class="card-content">
        <p>{{ note.note_text }}</p>
      </div>
    </div>
    <br />
    {% endfor %}
    <form action="{% url 'goals:goal_detail' goal.id %}" method="post">
      {% csrf_token %}
      <p class="control">
        <textarea name="note-text" class="textarea" placeholder="Write a new note here..." required></textarea>
      </p>
      <p class="control">
        <input class="button control" type="submit" value="Add Note" />
      </p>
    </form>
    <hr />
    <h2 class="title">Edit Goal</h2>
    <a class="button is-danger" href="{% url 'goals:delete_goal' goal.id %}">Delete goal</a>
  </div>
</section>
{% endblock %}
