{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 id="dashboard-header" class="title">Dashboard</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Goals</p>
          <p class="title">{{ goals_count }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Completed</p>
          <p class="title">{{ completed_goals_count }}</p>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Add New Goal</h1>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <article class="message is-danger">
      {% elif message.tags == 'info' %}
      <article class="message is-info">
        {% endif %}
        <div class="message-body">
          {{ message }}
        </div>
      </article>
      {% endfor %}
      {% endif %}
      <form action="{% url 'goals:add_goal' %}" method="post">
        {% csrf_token %}
        <div class="control is-horizontal">
          <div class="control">
            <input id="goal_title" class="input" type="text" name="goal-title" placeholder="Goal Title" required />
          </div>
          <div class="control-label">
            <label class="label" for="date-due">Due Date:</label>
          </div>
          <div class="control">
            <input id="date_due" class="input" type="text" name="date-due" placeholder="YYYY-MM-DD" required />
          </div>
        </div>
        <div class="control">
          <textarea id="goal_description" class="textarea" name="goal-description" placeholder="What makes this goal so rad?" required></textarea>
        </div>
        <div class="control">
          <button id="add_goal" class="button is-primary" type="submit">Add Goal</button>
        </div>
      </form>
      <hr />
      <h1 class="title">Goals Due Soon</h1>
      <div class="columns">
        {% for goal in goals_due_soon %}
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ goal.goal_title }}
              </p>
              <a class="card-header-icon" href="{% url 'goals:goal_detail' goal.id %}">
                <span class="icon">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Due In</p>
                    <p class="title">{{  goal.date_due|timeuntil }}</p>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr />
      <h1 class="title">Recently Completed Goals</h1>
      <div class="columns">
        {% for goal in recently_completed_goals %}
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ goal.goal_title }}
              </p>
              <a class="card-header-icon" href="{% url 'goals:goal_detail' goal.id %}">
                <span class="icon">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Completed On</p>
                    <p class="title">{{  goal.date_completed }}</p>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock %}
