<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HardClimbz</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <i class="fa fa-area-chart"></i>
          </a>
          <a class="nav-item is-tab is-hidden-mobile" href="{% url 'dashboard:dashboard_index' %}">Dashboard</a>
        </div>
        <div class="nav-right">
          <a class="nav-item">
            Log out
          </a>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <a href="https://gitlab.com/apsummers/hardclimbz">
              <i class="fa fa-gitlab"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
